<div>
    {% extends 'base.HTML' %}

    {% block title %}{% endblock %}


    {% block body %}

    Hello world
    <form>
        <div class="input-group">
            <span class="input-group-text">First and last name</span>
            <input type="text" aria-label="First name" class="form-control">
            <input type="text" aria-label="Last name" class="form-control">
        </div>

        <div class="input-group">
            <span class="input-group-text">Email</span>
            <input type="text" aria-label="First name" class="form-control">
        </div>

        <div class="input-group">
            <span class="input-group-text">Child's first and last name</span>
            <input type="text" aria-label="First name" class="form-control">
            <input type="text" aria-label="Last name" class="form-control">
        </div>

        <div class="form-check">
            {% for x in allergen %}
            <input type="checkbox" value={{x['id']}}> {{x['name']}} </input> <br>
            {% endfor %}

        </div>


        
        
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>

    {% endblock %}
</div>