<div>
{% extends 'base.html' %}

{% block title %}{% endblock %}


{% block body %}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Recipes Retrieved!</h4>
    <p> {{ new_user.fname }} {{ new_user.lname }}, here are the recipes we suggest for {{ new_user.baby_fname }} {{ new_user.baby_lname }}</p>
</div>

<table class="table">
    <thead>
    <tr>
        <!-- <th scope="col"></th> -->
        <th scope="col">Recipe</th>
        <th scope="col">Allergens</th>
    </tr>
    </thead>
    <tbody>
    {% for recipe in users_recipes %}    
    <tr>
            <!-- <th name="users_recipes" scope="row" value="{{recipe['id']}}"> {{recipe['createdAt']}} </th>  -->
            <td name="users_recipes" value="{{recipe['name']}}">{{recipe['name']}}</td>
            <td name="users_recipes" value="{{recipe['allergens']}}">{{recipe['allergens']}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<button>
    <a href="/">Home</a>
</button>

{% endblock %}
</div>